<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rent.mapper.AccidentMapper">
		
	<!-- 사고이력 등록 -->
	<insert id="accidentInsert" parameterType="com.rent.domain.AccidentVO">
		insert into accident
		 (accident_id, accident_date, accident_content, accident_price, special_note, rent_id)
		values
		 (#{accident_id}, #{accident_date}, #{accident_content}, #{accident_price}, #{special_note}, #{rent_id})
	</insert>
 
	<!-- 사고이력 수정 -->
	<update id="accidentUpdate" parameterType="com.rent.domain.AccidentVO">
		update accident
		set 	accident_date = #{accident_date}, accident_content = #{accident_content},
				accident_price = #{accident_price}, special_note = #{special_note}
		where accident_id = #{accident_id}
	</update>

	<!-- 사고이력 삭제 -->
	<delete id="accidentDelete" parameterType="int">
		delete from accident
		where accident_id = #{accident_id}
	</delete>

	<!-- 사고이력 전체목록 -->
	<select id="accidentList" resultType="com.rent.domain.AccidentVO">
		select *
		from accident
		order by accident_id asc
		limit 0 , 5
	</select>
	
	<!-- 사고이력 전체목록 스크롤페이징 -->
	
	<select id="accidentListPaging" parameterType="com.rent.domain.PagingVO" resultType="com.rent.domain.AccidentVO">
		select *
		from (
		select @rownum := @rownum + 1 AS rnum, A.*
		from
		  (
		    select *
		    from accident
		  ) A,
		  ( select @rownum := 0 ) B
		) C
		where C.rnum between #{start} and #{end}
	</select>
	
	<!-- rent_id에 따른 사고이력 전체목록 -->
	<select id="accidentListId" resultType="com.rent.domain.AccidentVO" parameterType="String">
		select * 
		from accident
		where rent_id = #{rent_id}
	</select>
	
	<!-- 전체목록 갯수 -->
	<select id="totalCount" resultType="int">
		select count(*)
		from accident
	</select>
	
</mapper>