<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rent.mapper.AccidentMapper">
		
	<!-- 사고이력 등록 -->
	<insert id="accidentInsert" parameterType="com.rent.domain.AccidentVO">
		insert into accident
		 (accident_id, accident_date, accident_content, accident_price, special_note, rent_id)
		values
		 (#{accident_id}, #{accident_date}, #{accident_content}, #{accident_price}, #{special_note}, #{rent_id})
	</insert>
 
	<!-- 사고이력 수정 -->
	<update id="accidentUpdate" parameterType="com.rent.domain.AccidentVO">
		update accident
		set 	accident_date = #{accident_date}, accident_content = #{accident_content},
				accident_price = #{accident_price}, special_note = #{special_note}
		where accident_id = #{accident_id}
	</update>

	<!-- 사고이력 삭제 -->
	<delete id="accidentDelete" parameterType="int">
		delete from accident
		where accident_id = #{accident_id}
	</delete>

	<!-- 사고이력 전체목록 -->
	<select id="accidentList" resultType="com.rent.domain.AccidentVO">
		select * 
		from accident
	</select>
	
	<!-- rent_id에 따른 사고이력 전체목록 -->
	<select id="accidentListId" resultType="com.rent.domain.AccidentVO" parameterType="String">
		select * 
		from accident
		where rent_id = #{rent_id}
	</select>

	<!-- 사고이력 상세조회 -->
	<select id="accidentDetail" parameterType="int" resultType="com.rent.domain.AccidentVO">
		select *
		from accident
		where accident_id = #{accident_id}
	</select>
	
</mapper>