<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace= "com.rent.mapper.BuyMapper">
		
	<!-- 렌트차량 구매 -->
	<insert id="rentBuyInsert" parameterType="com.rent.domain.BuyVO">
		insert into buy
			(buy_id, id, rent_id, option_name, color, buy_date, counseling_date, name, address, tel, month)
		values (#{buy_id}, #{id}, #{rent_id}, #{option_name}, #{color}, now(), #{counseling_date},
				 #{name}, #{address}, #{tel}, #{month})
	</insert>
	
	<!-- id에 따른 구매목록 -->
	<select id="buyListSId" parameterType="String" resultType="com.rent.domain.BuyVO">
		SELECT	*
		FROM	BUY
		WHERE	ID = #{id}
		AND		MONTH = 0
	</select>
	
	<!-- 렌트 구매자 목록 -->
	<select id="buyList" parameterType="com.rent.domain.BuyVO" resultType="com.rent.domain.BuyVO">
		select *
		from buy
	</select>
	
	<!-- 렌트 구매자 예약 취소 -->
	<delete id="rentBuyDelete" parameterType="int">
		delete from buy
		where buy_id = #{buy_id}
	</delete>
	
	<!-- 예약자 상세조회 -->
	<select id="buyDetail" parameterType="int" resultType="com.rent.domain.BuyVO">
		select *
		from buy
		where buy_id = #{buy_id}
	</select>
	
	<!-- 차량 구매한 사람들의아이디를 가져온다. -->
	<select id="buyListMember" parameterType="String" resultType="com.rent.domain.BuyVO">
		select id
		from buy
		where rent_id = #{rent_id}
	</select>
	
	<!-- 차량 구매한사람들의 아이디로  성별을 나눈다-->
	<select id="memberGender" parameterType="String" resultType="com.rent.domain.MemberVO">
		select	gender,
			count(if(gender = "남자", gender, null)) as man,
			count(if(gender = "여자", gender, null)) as women
		from member
		where id = #{id}
	</select>
	
	<!-- 차량 구매한사람들의 아이디로  나이대를 구한다-->
	<select id="memberAge" parameterType="String" resultType="com.rent.domain.MemberVO">
		select round(date_format(now(),'%Y')-substring(date_of_birth,1,4)) as date_of_birth,
			sum(if(date_format(now(),'%Y')-substring(date_of_birth,1,4) between 20 and 29 , 1, 0)) as Twenties,
			sum(if(date_format(now(),'%Y')-substring(date_of_birth,1,4) between 30 and 39 , 1, 0)) as Thirties,
			sum(if(date_format(now(),'%Y')-substring(date_of_birth,1,4) between 40 and 49 , 1, 0)) as Forties,
			sum(if(date_format(now(),'%Y')-substring(date_of_birth,1,4) between 50 and 59 , 1, 0)) as Fifteen,
			sum(if(date_format(now(),'%Y')-substring(date_of_birth,1,4) between 60 and 69 , 1, 0)) as Sixties
		from member
		where id = #{id}
	</select>
	
	
	
</mapper>