<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace= "com.rent.mapper.CarMapper">
		
	
	<!-- 차량 등록 -->	
	<insert id="carInsert" parameterType="com.rent.domain.CarVO" useGeneratedKeys="true" keyProperty="car_id">
		INSERT INTO CAR
		(manufacturer, car_name, exhaust_volume, car_kind, fuel, transmission, car_price, made_country, content, car_year)
		VALUES
		(#{manufacturer}, #{car_name}, #{exhaust_volume}, #{car_kind}, #{fuel}, #{transmission}, #{car_price}, #{made_country}, #{content}, #{car_year})
	</insert>
	
	<!-- 차량 리스트 전체 조회 -->
	<select id="carList" resultType="com.rent.domain.CarVO">
		SELECT	*
		FROM	CAR
	</select>
	
	<!-- 차량 세부 조회 -->
	<select id="carDetail" parameterType="String" resultType="com.rent.domain.CarVO">
		SELECT	*
		FROM	CAR
		WHERE	CAR_ID = #{car_id}
	</select>
	
	<!-- 차량 삭제 -->
	<delete id="carDelete" parameterType="String">
		DELETE	
		FROM	CAR
		WHERE	CAR_ID = #{car_id}
	</delete>
	
	<!-- 차정보 수정 -->
	<update id="carUpdate" parameterType="com.rent.domain.CarVO">
		UPDATE	CAR
		SET		manufacturer 	= #{manufacturer}
				,car_name	  	= #{car_name} 
				,exhaust_volume = #{exhaust_volume} 
				,car_kind 		= #{car_kind} 
				,fuel 			= #{fuel} 
				,transmission 	= #{transmission} 
				,car_price 		= #{car_price} 
				,made_country 	= #{made_country} 
				,content 		= #{content} 
				,car_year 		= #{car_year}
		WHERE	CAR_ID 			= #{car_id}
	</update>
	
	<select id="manufacturer" resultType="hashMap">
		select 	distinct manufacturer 
		from 	car;
	</select>
	
	<select id="carKind" resultType="hashMap">
		select 	distinct car_kind 
		from 	car 
		where 	manufacturer = #{manufacturer}
	</select>
	
	<select id="selectCar" resultType="hashMap" parameterType="com.rent.domain.OptionCarVO">
		select 	distinct car_name 
		from 	car 
		where 	car_kind = #{car_kind} and manufacturer = #{manufacturer}	
	</select>
	
	<select id="fuel" resultType="hashMap">
		SELECT	distinct FUEL
		FROM	CAR
	</select>
</mapper>