<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace= "com.rent.mapper.CarMapper">
		
	
	<!-- 차량 등록 -->	
	<insert id="carInsert" parameterType="com.rent.domain.CarVO" useGeneratedKeys="true" keyProperty="car_id">
		INSERT INTO CAR
		(manufacturer, car_name, exhaust_volume, car_kind, fuel, transmission, car_price, made_country, content, car_year)
		VALUES
		(#{manufacturer}, #{car_name}, #{exhaust_volume}, #{car_kind}, #{fuel}, #{transmission}, #{car_price}, #{made_country}, #{content}, #{car_year})
	</insert>
	
	<!-- 차량 색상 등록 -->
	<insert id="colorInsert" parameterType="com.rent.domain.CarColor" useGeneratedKeys="true" keyProperty="car_id">
		INSERT INTO COLOR
		(car_id, color, color_image, color_url)
		VALUES
		(#{car_id}, #{color}, #{color_image}, #{color_url})
	</insert>
	
	<!-- 차량 리스트 전체 조회 -->
	<select id="carList" resultType="com.rent.domain.CarVO">
		SELECT	*
		FROM	CAR
	</select>
	
	<!-- 옵션 등록 -->
	<insert id="optionInsert" parameterType="com.rent.domain.OptionCarVO">
		INSERT INTO OPTIONCAR
		(car_id, option_name, option_price, option_content)
		VALUES
		(#{car_id}, #{option_name}, #{option_price}, #{option_content})
	</insert>
	
		<!-- 차량 세부 조회 -->
	<select id="carDetail" parameterType="String" resultType="com.rent.domain.CarVO">
		SELECT	*
		FROM	CAR
		WHERE	CAR_ID = #{car_id}
	</select>
	
		<!-- 차량 색상 세부 조회 -->
	<select id="carColorDetail" parameterType="String" resultType="com.rent.domain.CarColor">
		SELECT	*
		FROM	COLOR
		WHERE	CAR_ID = #{car_id}
	</select>
	
		<!-- 차량 옵션 세부 조회 -->
	<select id="carOptionDetail" parameterType="String" resultType="com.rent.domain.OptionCarVO">
		SELECT	*
		FROM	OPTIONCAR
		WHERE	CAR_ID = #{car_id}
	</select>
	
		<!-- 차량 색상 세부 조회 -->
	<select id="carColorList" resultType="com.rent.domain.CarColor">
		SELECT	*
		FROM	COLOR
	</select>
	
		<!-- 차량 옵션 세부 조회 -->
	<select id="carOptionList" resultType="com.rent.domain.OptionCarVO">
		SELECT	*
		FROM	OPTIONCAR
	</select>
	
	
</mapper>