<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rent.mapper.CarOptionMapper">
		
	<!-- 옵션 삭제 -->
	<delete id="optionDelete" parameterType="String">
		DELETE	
		FROM	OPTIONCAR
		WHERE	RENT_ID	= #{rent_id}
	</delete>	
	
		<!-- 옵션 등록 -->
	<insert id="optionInsert" parameterType="com.rent.domain.OptionCarVO">
		INSERT INTO OPTIONCAR
		(rent_id, option_name, option_price, option_content)
		VALUES
		(#{rent_id}, #{option_name}, #{option_price}, #{option_content})
	</insert>
	
			<!-- 차량 옵션 세부 조회 -->
	<select id="optionDetail" parameterType="String" resultType="com.rent.domain.OptionCarVO">
		SELECT	*
		FROM	OPTIONCAR
		WHERE	RENT_ID = #{rent_id}
	</select>
	
			<!-- 차량 옵션 세부 조회 -->
	<select id="optionList" resultType="com.rent.domain.OptionCarVO">
		SELECT	*
		FROM	OPTIONCAR
	</select>
	
	<select id="selectName" parameterType="String" resultType="com.rent.domain.OptionCarVO">
		SELECT	*
		FROM	OPTIONCAR
		WHERE	OPTION_NAME	= #{name} and RENT_ID = 0
	</select>
	
	<update id="optionUpdate" parameterType="com.rent.domain.OptionCarVO">
		UPDATE	OPTIONCAR
		SET		rent_id 		= #{rent_id}
				,option_name	= #{option_name} 
				,option_price 	= #{option_price} 
				,option_content = #{option_content} 
		WHERE	option_name		= #{option_name}
		AND		rent_id			= #{rent_id}
	</update>
	
</mapper>