<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rent.mapper.CarOptionMapper">
		
	
	<delete id="optionDelete" parameterType="String">
		DELETE	
		FROM	OPTIONCAR
		WHERE	RENT_ID	= #{rent_id}
	</delete>	
</mapper>