<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.rent.mapper.CounselingMapper">
	
	<!-- 등록 -->
	<insert id="counselingInsert" parameterType="com.rent.domain.CounselingVO" useGeneratedKeys="true" keyProperty="counseling_id">
		insert into counseling
				(counseling_id, id, rent_id, option_name, color, name, address,
				 tel, counseling_situation, month, content, counseling_date)
		values(	#{counseling_id}, #{id}, #{rent_id}, #{option_name}, #{color},
		 		#{name}, #{address}, #{tel}, #{counseling_situation}, #{month}, #{content} , now() )
	</insert>
	
	<!-- 상담글 상태 현황 변경(상담완료, 예약완료) -->
	<update id="counselingUpdate" parameterType="com.rent.domain.CounselingVO">
		update counseling
		set counseling_situation = #{counseling_situation}
		where counseling_id = #{counseling_id}
	</update>
	
	<!-- 삭제 -->
	<delete id="counselingDelete" parameterType="String">
		delete from counseling
		where counseling_id = #{counseling_id}
	</delete>
	
	<!-- 전체목록 기본 내림차순-->
<!--<select id="counselingList" resultType="com.rent.domain.CounselingVO">
		select * 
		from counseling
		order by counseling_date asc
	</select> -->

	<!-- 페이징 처리 후 상담 목록 조회 -->
	<select id="counselingList" parameterType="com.rent.domain.PagingVO" resultType="com.rent.domain.CounselingVO">
		<!-- rownum 사용 -->
		select *
		from (
		select @rownum := @rownum + 1 AS rnum, A.*
		from
		  (
		    select *
		    from counseling
		  ) A,
		  ( select @rownum := 0 ) B
		) C
		where C.rnum between #{start} and #{end}
	</select>
	
	<!-- (해당상담상태)전체목록 기본 내림차순(조건검색)-->
	<select id="searchList" parameterType="hashMap" resultType="com.rent.domain.CounselingVO">
		select *
		from (
		select @rownum := @rownum + 1 AS rnum, A.*
		from
		  (
    		select * 
			from counseling
			where counseling_situation = #{counseling_situation}
			order by counseling_date asc
		  ) A,
		  ( select @rownum := 0 ) B
		) C
		where C.rnum between #{start} and #{end}
	</select>
	
	<!-- 상세목록 -->
	<select id="counselingDetail" parameterType="String" resultType="com.rent.domain.CounselingVO">
		select *
		from counseling
		where counseling_id = #{counseling_id}
	</select>
	
	<!-- 회원아이디로 상담신청했는지 확인 후 상담한 날짜를 뿌려준다 -->
	<select id="counselingOK" parameterType="String" resultType="com.rent.domain.CounselingVO">
		select counseling_date
		from counseling
		where id = #{id}
	</select>
	
	<!-- 회원아이디로 상담리스트 조회 -->
	<select id="counselingListId" parameterType="String" resultType="com.rent.domain.CounselingVO">
		select *
		from counseling
		where id = #{id}
		order by counseling_date desc
	</select>
	
	<!--  전화번호로 리스트 출력 -->
	<select id="counselingListTel" parameterType="String" resultType="com.rent.domain.CounselingVO">
		SELECT	*
		FROM	COUNSELING
		WHERE	TEL = #{tel}
	</select>
	
	<!-- 상담목록 총 갯수 -->
	<select id="counselingCount" resultType="int">
		select count(*)
		from counseling
	</select>
	
		<!-- 상담목록 총 갯수 -->
	<select id="searchListCount" parameterType="String" resultType="int">
		select count(*)
		from counseling
		where counseling_situation = #{counseling_situation}
	</select>
	
	<!-- 회원탈퇴시 해당아이디에 대한 구매한 정보들을 전부 삭제한다  -->
	<delete id="secessionDelete" parameterType="String">
		delete from counseling
		where id = #{id}
	</delete>
</mapper>

